<!-- ジャンルの一覧ページ（トップページ） -->

<!-- ジャンル一覧 -->
<section class="genre-card-section">
  <% @genres.each do |genre| %>
    <div class="genre-card">
      <!-- ジャンル名 -->
      <%= link_to genre_path(genre.id) do %>
      <div class="top-genre-wrap">
        <img src="<%= genre.image %>" class="genre-icon">
        <h2 class="top-genre"><%= genre.name %></h2>
      </div>
      <% end %>
      <div class="top-tags">
        <!-- ジャンル内タグ一覧 -->
        <% genre.tags.order(:created_at).each do |tag| %>
          <span class="tag">
            <%= link_to tag.name, genre_tag_path(genre, tag) %>
          </span>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
<div>
