<!-- 解説のshowページに常設のコメント新規作成用フォーム -->

<%= form_with(model: [term, description, comment]) do |f| %>
  
  <!-- ページ遷移がないのでcreateでエラー時はここにエラー用htmlをレンダーする -->
  <div id="create_error_area"></div>
  
  <ul class="form comment_form">
    <div class="comment_content">
      <li><%= f.text_area :content %></li>
    </div>     
    <div class="submit comment_submit">      
      <li><%= f.submit "登録", id: "comment_submit" %></li>
    </div>  
  </ul>
<% end %>
