<h2 class="section-title user-keep-title">キープ一覧</h2>

<% @keeps.each do |keep| %>
  <p class="user-keep-list">
    <%= link_to keep.term.name, term_path(keep.term) %>
    <% if keep.term.genre %>
      (<%= link_to keep.term.genre.name, genre_path(keep.term.genre) %>)
    <% end %>
  </p>
  <hr>
<% end %>
