<% if term.errors.any? %> <!-- ifが無いとフォームで常に０件のエラーが表示されてしまう -->
  <p><%= "#{term.errors.count}件のエラーがあります。" %></p>
  <ol>
    <% term.errors.full_messages.each do |m| %>
      <li><%= m %></li>
    <% end %>
  </ol>  
  <hr>
<% end %>
