<h1><%= "ジャンル＜ #{@genre.name} ＞内のタグ一覧" %></h1>
<ul>
  <% @tags.each do |tag| %>
    <%= link_to tag.name, genre_tag_path(@genre, tag), class:"btn btn-primary border-dark text-white btn-sm" %>
  <% end %>
</ul>
<p><%= link_to "タグ追加", new_genre_tag_path(@genre) %></p>
