/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */
 
//  *{
//     box-sizing: border-box; // paddingが要素のサイジングを邪魔するのを予め回避
//     margin: 0; // 自動的に付くmarginを予めリセット
//     padding: 0; // 自動的に付くpaddingを予めリセット
// }





ul {
  list-style: none; // ドットを予め決しておく
}

.modal{
  display: none; /* 初期で見えない状態に */
  height: 100vh; /* ブラウザの高さに合わせる */
  position: fixed; /* 一緒にスクロールされにように固定する */
  top: 0;
  width: 100%;
}

.modal__bg{
  background: rgba(0,0,0,0.8); /* 半透明に */
  height: 100vh; /* ブラウザの高さに合わせる */
  position: absolute; /* 親にfixedがあるのでabsoluteでOK */
  width: 100%;
}

/* モーダルウィンドウのコンテンツを画面の縦横センターに配置、ほか */
.modal__content{
  background: #fff;
  left: 50%;
  padding: 0 40px 40px 100px; /* 自分で編集した */
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}

.js-modal-close-btn{
  text-align: right;
}





.pagination {
  margin: 35px 0;
}
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}
.pagination>li>a:hover {          
  background-color: #fff;
  color: #696969;   /*文字の色を変える*/
}
.pagination>.active>.page-link {
  z-index: 2;
  background-color: rgb(145, 131, 118);
  // border-color: #007bff;
}




body {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: rgb(94, 81, 68);
  background-image: image-url("photo-1583361704493-d4d4d1b1d70a.jpeg");
  font-family: verdana, arial, helvetica, sans-serif;
}
header {
  height: 130px;
  margin-bottom: 15px;
  display: flex;
  font-size: 0.9em;
}
span {
  display: inline-block;
}
a {
  color: rgb(94, 81, 68);
}
a:hover {
  color: rgb(94, 81, 68);
  text-decoration: none;
  opacity: 0.7;
}
input:focus {
  outline: none;
} 
.mid-font {
  font-size: 14px;
}
.section-wrap {
  display: flex;
}
.for-flex {
  display: flex;
}
.header-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 縦中央寄せ（flex-direction: column設定の為） */
}
.app-logo,
.welcome {
  padding-left: 20px;
}
.app-logo-top,
.app-logo-bottom {
  color: rgb(0, 255, 34);
  font-weight: bold;
  margin: 0;
}
.app-logo-top:hover,
.app-logo-bottom:hover {
  color: rgb(0, 255, 34);
  opacity: 1;
}
.app-logo-top {
  margin-top: 12px;
  font-size: 18px;
}
.app-logo-bottom {
  font-size: 42px;
}
.welcome {
  margin-bottom: 8px;
}
.header-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 縦中央寄せ（flex-direction: column設定の為） */
  margin-left: 30px;
  margin-right: -30px;
}
.search {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 17px;
}
.search-box {
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 25px;
}
.search-in-detail {
  margin-bottom: 7px;
}
.search-label {
  margin-top: 15px;
  margin-bottom: 3px;
}
.search-label-genre {
  margin-bottom: 25px;
}
.header-3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; /* 横中央寄せ（flex-direction: column設定の為） */
  justify-content: space-between; /* 縦（flex-direction: column設定の為） */
}
.header-swap {
  display: flex;
  margin-bottom: 7px;
}
.term-submit {
  margin-top: 20px;
  margin-left: 100px;
}
.mypage-or-login {
  margin-right: 30px;
}
.btn {
  border: solid 1px rgb(94, 81, 68);
  background-color: rgb(250, 250, 250);
  color: rgb(94, 81, 68);
}
.btn-default {
  border: solid 1px rgb(94, 81, 68);
  background-color: rgb(250, 250, 250);
  color: rgb(94, 81, 68);
}
.search-btn {
  border: solid 1px rgb(94, 81, 68);
  border-radius: 5px;
  color: rgb(94, 81, 68);
}
.search-field {
  border: solid 1px rgb(94, 81, 68);
}

.like-list {
  margin-top: 20px;
}
.intro-wrap{
  // height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}
.intro {
  font-size: 16px;
}


/* ヘッダー以外を包む */
.wrap1 {
  display: flex;
  flex: 1;
}


/* サイドバーとサイドフッター */
.wrap2 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* スマホサイズでのサイドバーとフッター */
.wrap3 {
  display: none;
}

main {
  flex: 2;
  margin-right: 15px;
  padding: 20px;
  font-size: 0.9em;
  // overflow-wrap: anywhere; /* 親要素に影響与えないように折り返す */
  overflow-y: scroll; /* 親要素に影響与えないようにはみ出た分はスクロールに */
}
.genre-card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.genre-card {
  width: 200px;
  height: 200px;
  margin: 20px 15px;
  background-color: #fff;
  // border: groove 1px rgb(151, 133, 112);
  border-radius: 10px;
  box-shadow: 0 1px 20px rgb(43, 36, 30);
}
.top-genre {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}
.genre-icon {
  height: 22px;
  width: 22px;
  margin-top: 2px;
}
.top-genre-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 4px;
  // margin-left: 20px;
}
.top-tags {
  padding-top: 2px;
  height: 130px;
  overflow: scroll;
  margin: 0 20px;
}
.tag {
  border: solid 1px rgb(151, 133, 112);
  border-radius: 10px 10px;
  background-color: rgb(252, 247, 243);
  font-size: 0.9em;
  padding: 0 2px 0 2px;
}
aside {
  max-height: 500px;
  flex: 1;
  margin-bottom: 15px;
  padding: 10px 50px;
  overflow: scroll;
  font-size: 0.8rem;
}
.wrap-if-not-loged-in {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.liked-description {
  margin: 19px 0;
}
.keep-list {
  margin-top: 40px;
 }
.like-list,
.keep-list {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
.keeped-term {
  margin: 17px 0;
  line-height: 16px;
}
main,
aside {
  background-color: #fff;
  border: solid 1px rgb(151, 133, 112)
}
.signup-btn {
  height: 160px;
  width: 160px;
  border-color: rgb(156, 143, 130);
  border-radius: 80px;
  background-color: rgb(252, 247, 243);
  color: rgb(94, 81, 68);
}
.signup-btn:hover {
  height: 160px;
  width: 160px;
  border-color: rgb(0, 255, 34);
  opacity: 0.7;
}
.signup-btn:active {
  height: 150px;
  width: 150px;
  margin: 5px;
  border-color: rgb(0, 255, 34);
  opacity: 0.7;
  outline: none;
}

.list-item {

}
footer {
  height: 80px;
  display: flex;
  align-items: center; /* 縦中央寄せ */
  justify-content: center; /* 横中央寄せ */
  font-size: 0.7rem;
}
header,
footer {
  background-color: #fff;
  border: solid 1px rgb(151, 133, 112);
}




/* genre */
.term-index-wrap {
  display: flex;
}
.to-tags-index {
  margin: 4px 0 0 30px;
}
.genre-term-title {
  font-size: 18px;
  margin-top: -1px;
  margin-bottom: 0;
}
.hr2 {
  margin: 35px 0;
}
.numbers-of-description {
  margin-top: 15px;
}


/* term_index */
.contents-wrap {
  margin: 20px 30px 0 30px;
  overflow-wrap: anywhere; /* 親要素に影響与えないように折り返す */
}
.term-index {
  margin-bottom: 40px;
  font-size: 23px;
  font-weight: bold;
}
.term-title {
  font-size: 16px;
  margin: 25px 0 10px 0;
}
.term-title2 {
  margin-left: 5px;
}
.term-title-wrap {
  display: flex;
  font-size: 16px;
  height: auto;
  min-height: 25px;
  margin-top: 20px;
}
.term-title-wrap2 {
  display: flex;

}
.numbers-of-description {
  margin-top: 8px;
  margin-bottom: 20px;
}
.genre-name,
.term-edit {
  margin-left: 10px;
}

/* term_show */
.is {
  font-size: 17px;
  margin-left: 2px;
}
.term-show-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}
.description-show-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}
.term_title_description {
  font-size: 23px;
  margin-top: 30px;
}
.term-show-wrap {
  margin-bottom: 20px;
}
.term-show-title-wrap {
  display: flex;
  min-height: 37px
}
.genre-name-show,
.keep-icon {
  margin-top: 5px;
  margin-left: 5px;
}
.genre-tag-index {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 30px;
}
.tagging_form,
.tag-edit-form {
  padding-left: 0;
}
.tag-edit-form {
  margin-top: 30px;
}
.contributor-wrap {
  display: flex
}
.contributor {
  margin: 0 5px 0 0;
}
.tagging-list {
  margin-top: 5px;
  margin-bottom: 0;
}
.description-content,
.comment {
  overflow-wrap: anywhere; /* 親要素に影響与えないように折り返す */
}
.star {
  font-size: 15px;
}
.descriptions-section {
  margin-top: 40px;
}
.hr {
  margin-top: 35px;
}


/* description_show */
.comments-wrap {
  margin-left: 20px;
}
.replies-wrap {
}

/* tag_show */
.tag-show {
  font-size: 22px;
}
.tag-name {
  border: solid 1px rgb(151, 133, 112);
  border-radius: 20px 20px;
  background-color: rgb(252, 247, 243);
  padding: 2px;
}
.tag-show-br {
  display: none;
}
.genre-tag-list {
  margin-top: 30px;}
.tag-big {
  font-size: 20px;
  font-weight: bold;
  border: solid 1px rgb(151, 133, 112);
  border-radius: 23px 23px;
  background-color: rgb(252, 247, 243);
  padding: 3px;
  margin-bottom: 5px;
}
.tag-big-title,
.tag-big-genre {
  font-size: 20px;
  font-weight: bold;
}
.tag-big-title {
  margin-bottom: 50px;
}
.tag-edit {
  font-size: 25px;
  font-weight: bold;
}
.tag-term-list {
  padding-left: 0;
}
.term-name {
  font-size: 17px;
  margin: 30px 0 5px 0;
}
.description-numbers {
  margin-top: 5px;
  margin-bottom: 30px;
}
.remove-tagging {
  border: solid 1px rgb(151, 120, 112);
  border-radius: 10px 10px;
  background-color: rgb(253, 229, 229);
  font-size: 0.9em;
  padding: 0 2px 0 2px;
  margin-right: 5px;
  margin-left: -7px;
}
.section-title {
  font-size: 25px;
  font-weight: bold;
}
.mb30 {
  margin-bottom: 30px;
}



/* user_show */
.profile-image {
  height: 150px;
  width: 150px;
}
.profile-wrap {
  display: flex;
  align-items: center;
}
.profile-content {
  margin-top: 10px;
  margin-bottom: 0;
  overflow-wrap: anywhere; /* 親要素に影響与えないように折り返す */
}
.profile-wrap2 {
  margin-left: 20px;
}
.profile-name {
  margin-top: 0;
  margin-bottom: 10px;
}
.descriptions-count {
  font-size: 0.9em;
}
.edit-profile {
  font-size: 13px;
  height: 20px;
  margin-bottom: 5px;
  margin-left: 20px;
}
.profile-title {
  display: flex;
  align-items: center;
}
.like-list-profile,
.keep-list-profile {
  font-size: 22px;
}
.profile-wrap-like {
}
.profile-wrap-keep {
}
.profile-descriptions {
  flex: 1;
}
.posted-description {
  margin-bottom: 20px;
}
.posted-descriptions {
  margin-bottom: 20px;
}
.profile-wrap3 {
  margin-top: 40px;
  text-align: center;
}
.liked-description-main {
  margin: 40px 0;
}
.keeped-term-section {
  line-height: 15px;
  margin: 40px 0;
  font-size: 16px;
}
.keeped-term-name {
  margin-bottom: 5px;
}
.descriptions-count-keep {
  font-size: 0.8em;
}
.user {
  margin: 30px 0;
}
.user-name {
  margin-bottom: 5px;
}
.user-name2 {
  margin-top: 10px;
}
.edit-user {
  margin-left: 30px;
}
.user-index {
  margin-top: 40px;
  padding-left: 0;
}
.admin {  
}
.hr3 {
  margin: 40px 0;
}
.user-name-index,
.admin,
.user-name-index2 {
  margin-right: 30px;
}
.user-name-index2 {
  color: rgb(255, 0, 0);
}
.profile {
  margin-bottom: 15px;
}
.user-keep-list,
.user-like-list {
  margin: 40px 0;
  font-size: 16px;
}
.user-keep-title,
.user-like-title {
  margin-bottom: 50px;
}





/* comment */
.leave-comment {
  margin-bottom: 10px;
}
.reply {
  margin-left: 30px;
}
.comment_notice {
  margin-left: 30px;
}
.reply_form {
  padding-left: 30px;
}
.edit-prifile {
  margin-top: 8px;
  margin-left: 15px;
}

/* like */
.like-wrap > a,
.keep-wrap > a {
  opacity: 1;
}



/* ジャンルの横並びが限界になる時 */
@media screen and (max-width: 1200px) {
  .genre-card {
    width: 250px;
    height: 150px;
  }
  .top-tags {
    height: 90px;
  }
}






/* タブレット表示時 */
@media screen and (max-width: 1064px) {
  .top-tags {
    height: 90px;
  }
}



/* タブレット表示時 */
@media screen and (max-width: 1000px) {
  body {
    width: 90vw;
  }
}

/* タブレット表示時 */
@media screen and (max-width: 800px) {
  .genre-card {
    margin: 20px 0;
  }
}


/* スマホ表示時 */
@media screen and (max-width: 700px) {
  header {
    height: auto;
    margin: 0;
    display: block;
    border-bottom: none;
    background-image: image-url("photo-1583361704493-d4d4d1b1d70a.jpeg");
  }
  .header-1 {
    flex-direction: row;
    justify-content: space-between;
    height: 85px;
  }
  .app-logo {
    margin: 0;
    padding-left: 10px;
  }
  .welcome {
    margin: 10px 0 0 0;
  }
  .app-logo-top {
    margin-top: 7px;
  }
  .header-2 {
    flex-direction: row;
    justify-content: center;
    height: 30px;
  }
  .search,
  .search-in-detail {
    margin: 3px 0 0 0;
  }
  .search-in-detail {
    margin-left: 30px;
  }
  .search-box {
    margin-right: 10px;
    margin-top: 0;
  }
  .search-wrap {
    display: flex;
  }
  .header-3 {
    flex-direction: row;
    justify-content: space-between;
  }
  .term-submit {
    margin: 0 0 10px 15px;
  }
  .header-swap {
    margin-right: 10px;
    margin-bottom: 0;
  }
  main {
    margin: 0 0 75px 0;
  }
  .description-content {
    font-size: 0.9em;
  }
  body, aside {
    width: 100%;
    box-sizing: border-box;
  }
  .wrap1 {
    flex-direction: column;
  }
  .wrap2 {
    display: none;
  }
  .wrap3 {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .aside2 {
    height: 45px;
    margin: 0;
    border-top: solid 1px rgb(151, 133, 112);
    border-bottom: none;
    display: flex;
    justify-content: space-around;
    font-size: 0.9em;
    padding: 10px 30px;
  }
  .footer2 {
    height: 30px;
    background-image: url("image/photo-1583361704493-d4d4d1b1d70a.jpeg");
  }
  .aside2-like,
  .aside2-keep {
    margin: 0;
  }
  .genre-card {
    margin: 20px 30px;
  }




  /* tag */
  .tag-show-br {
    display: inline;
  }



  /* user */
  .profile-wrap {
    flex-direction: column;
    align-items: center;
  }
  .profile-wrap2 {
    text-align: center;
    margin-left: 0;
  }
  .profile-title {
    justify-content: center;
  }
}








































