/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */
 
 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
  background-color: rgb(238, 222, 169);
}

.modal{
  display: none; /* 初期で見えない状態に */
  height: 100vh; /* ブラウザの高さに合わせる */
  position: fixed; /* 一緒にスクロールされにように固定する */
  top: 0;
  width: 100%;
}

.modal__bg{
  background: rgba(0,0,0,0.8); /* 半透明に */
  height: 100vh; /* ブラウザの高さに合わせる */
  position: absolute; /* 親にfixedがあるのでabsoluteでOK */
  width: 100%;
}

/* モーダルウィンドウのコンテンツを画面の縦横センターに配置、ほか */
.modal__content{
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
}

.js-modal-close-btn{
  text-align: right;
}

