// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#replies_index {
  margin-left: 30px;
}
#each_reply{
  background-color: rgb(248, 245, 239);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
