// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* show */
.contents-wrap {
  margin: 0 30px;
}
.term-index {
  margin-bottom: 30px;
}
.term-title {
  font-size: 16px;
  margin: 25px 0 10px 0;
}
.numbers-of-description {
  margin-top: 8px;
}
